<div class="saved">
  <h2 id="message"><%=@advisory%></h2>
  <% if @departure %>
  <p id="explanation">The <%=@route_name%> leaves from <%= @stop_name %> <br> <%=@departure %> minutes after you get there.</p>
  <% else %>
  <p id = "explanation">The <%=@route_name%> doesn't leave from <%= @stop_name %><br> any time in the next half-hour.</p>
  <% end %>
  <%= javascript_tag do %>
    $('body').addClass('<%=@class%>');
  <% end %>
</div>

